html{
  font-family: '微软雅黑';
  background: #fff;
  font-size: 16px;
}
a {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
  -moz-user-select: none;
}
a, a:active, a:link, a:visited, a:target {
  text-decoration: none;
}
::selection{
  background-color: orange;
  color: #fff;
}

body{
  margin: 0;
  padding: 0;
  /* min-width: 1600px; */
}
/* .section{
  padding-top: 100px;
} */
.right-nav { position: absolute; right: 48px; top: 50%; transform: translateY(-50%); z-index: 666; }
.right-nav a { position: relative; margin-bottom: 14px; display: block; width: 10px; height: 10px; background: transparent; border-radius: 5px; }
.right-nav a > div { position: absolute; left: 2px; top: 2px; width: 6px; height: 6px; border-radius: 3px; background-color: #656565; z-index: -99;}
.right-nav a.active { background-color: #545454; }

/*********************** 首页样式 *****************************/
.home { position: relative; width: 100%; height: 100%; }
.home .home-container { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; text-align: center; }
.home-canvas{position: absolute; top: -150px;left: 50%;transform: translateX(-50%);}
.home .home-container .banner { width: 85%; }
.home .home-container .download { margin-top: 1.25rem; width: 100%; text-align: center; white-space: nowrap; }
.home .home-container .download a { display: inline-block; position: relative; padding: 0px 3.5rem; width: 12.875rem; height: 5.5625rem; border-radius: 2.781rem; background-color: #F2F2F2; -webkit-transition: .6s; transition: .6s;cursor: pointer; }
.home .home-container .download .ios { margin-right: 1.25rem; }
.home .home-container .download .left, .home .home-container .download .right { position: absolute; top: 0; width: 50%; height: 100%; }
.home .home-container .download .left { left: 0; padding-left: 3.5rem /* 56/16 */; }
.home .home-container .download .left { padding-top: 1.4375rem /* 23/16 */ /* 15/16 */; text-align: left; }
.home .home-container .download .right { position: relative; left: 50%; padding-right: 3.5rem /* 56/16*/; padding-top: 1.4375rem ; box-sizing: border-box; vertical-align: center; }
.home .home-container .download .right div { position: absolute; right: 0; width: 2.875rem; height: 2.875rem; background-size: 100% 100%; transition: .6s; }
/* .home .home-container .download .right .phone-logo { width: 2.875rem; height: 2.875rem; background-size: 100% 100%; transition: .6s; height: 100%; } */
.home .home-container .download .iphone-logo { background-image: url('../images/ios.png'); }
.home .home-container .download .android-logo { background-image: url('../images/android.png'); }
.home .home-container .download .tips { font-size: 1.125rem; color: #717171; -webkit-transition: color .6s; transition: color .6s; }
.home .home-container .download .phone-type { font-size: 1rem; color: #b5b5b5; text-align: left; -webkit-transition: color .6s; transition: color .6s; }
.home .home-container .download a:hover { background: orange; }
.home .home-container .download a:hover .tips { color: #fff; }
.home .home-container .download a:hover .phone-type { color: #eee; }
.home .home-container .download a:hover .iphone-logo { background-image: url('../images/ios_hover.png'); }
.home .home-container .download a:hover .android-logo { background-image: url('../images/android_hover.png'); }


/* 关于我们 */
.us_box{
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 3%;
}
.us_box::after{
  content: '';
  display: block;
  clear: both;
}
.about-left{
  width: 40%;
  float: left;
  height: 70%;
  text-align: right;
  padding-top: 8%;
  margin-left: 5%;
  /* margin-right: 5%; */
}
.img_friend{
  width: 100%;
  /* height: 50%; */
}
.img_iphone{
  width: 100%;
  /* height: 100%; */
}
.about-right{
  width: 55%;
  float: left;
  /* height: 100%; */
  text-align: left;
}
.about-text{
  width: 100%;
  text-align: left;
  margin-left: 7%;
  line-height: 250%;
  color: rgba(159,159,159,1);
  font-size: 16px;
}


/* 联系我们 */

.content_box {
  width: 80%;
  margin: 0 auto;
  padding-top: 4%;
}
.connect_title{
  width: 100%;
  text-align: left;
  /* margin-top: 15%; */
}
.connect_title img {
  width: 30%;
}

.map_box {
  position: relative;
  width: 100%;
}

.map_box img {
  width: 100%;
}
.connect_footer{
  margin-top: 20x;
}
.connect_footer::after{
  content: '';
  display: block;
  clear: both;
}
.connect_footer .code_box{
  float: right;
  margin-top: 5%;
}

.connect_footer .footer_info h3{
  font-size: 22px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer_info{
  text-align: left;
  font-size: 16px;
  color: rgb(159,159,159);
  float: left;
}

.footer_info .email_box{
  margin-bottom: 10px;
}
.footer_info .address{
  margin-bottom: 10px;
}
.connect_methods{
  font-size: 18px;
  color: rgb(88,88,88);
  margin-bottom: 10px;
}
.code_box .qq{
  width: 100px;
  margin-right: 20px;
  float: left;
}
.code_box .weixin{
  width: 100px;
  float: left;
}
.code_box .qq_img {
  width: 100px;
  height: 100px;
}
.code_box .weixin_img{
  width: 100px;
  height: 100px;
}
.qq_title{
  font-size: 16px;
  text-align: center;
}
.weixin_title{
  font-size: 16px;
  text-align: center;
}



