
body{
  min-width: 350px;
}
html{
  font-size: 10px;
}

.home .home-container .download a { align-items: center; padding: 0px 2.1rem; width: 10.2rem; height: 5.5625rem; border-radius: 2.781rem; background-color: #F2F2F2; -webkit-transition: .6s; transition: .6s; }
.home .home-container .download .ios { margin-right: 0.89rem; }


.logo{
  top: 19px;
  left: 5px;
}
.right{
  text-align: center;
}
.right span {
  padding-right: 0;
}
.footer a{
  margin-top: 10px;
  display: inline-block;
  width: 158px;
  padding: 20px 0 0 30px;
  height: 50px;
  /* padding: 14px ; */
  color: #fff;
}
/* 
.home-wrap .btn-wrap{
  bottom: 11.111111rem;
}
.home-wrap .banner-wrap{
  top: 180px;
} */


.footer a.ios_a{
  margin-left: 5px;
  /* margin-right: 0; */
}
.footer a.android_a{
  margin-right: 5px;
}
.footer a .tips{
  display: inline-block;
  margin: 0;
}
.footer a .tips .phone-type{
  color: rgb(185,185,185);
  opacity: 0.6;
}
.footer a .icon{
  display: inline-block;
}

.footer-right{
  bottom: 15px;
}


/* 手机菜单样式 */
.topNav{
  width: 30px;
  height: 30px;
  background-image: url('../images/menu.png');
  background-size: 100% 100%;
}
.topNav .wrap a{
  margin-top: 2px;
  padding: 8px 0px;
  padding-left: 6px;
  display: block;
  margin-right: 0;
  font-size: 12px;
  background-color: orange;
  border-radius: 5px;
  color: #fff;
}
.topNav .wrap{
  display: none;
  background: transparent;
  position: absolute;
  top: 35px;
  right: 0px;
  width: 100px;
  z-index: 9999;
  border-radius: 5px;
}


/* 关于我们 */

.us_box{
  width: 70%;
  margin: 0 auto;
}
.about-left{
  float: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.zuhe{
  width: 100%;
}
.about-text{
  font-size: 14px;
  line-height: 100%;
  /* margin-left: %; */
  width: 90%;
}

/* 联系我们 */
*{
  margin: 0;
  padding: 0;
}
.content_box {
  width: 100%;
  padding: 0;
  padding-top: 30px;
}

.connect_title {
  width: 100%;
  text-align: center;
}
.connect_title .title_img{
  width: 250px;
}
.connect_title img{
  width: 70%;
  height: 70%;
  margin-bottom: 0;
}

.map_box {
  width: 100%;
  text-align: center;
}

.map_box img {
  width: 80%;
  height: 80%;
}
.connect_footer{
  width: 100%;
  margin: 0;
  /* text-align: center; */
}
.connect_footer .footer_info{
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: left;
  width: 80%;
  float: none;
  margin: 0 auto;
  /* padding-left: 20px; */
}
.connect_footer .footer_info h3{
  font-size: 13px;
  margin-bottom: 5px;
}
.connect_footer .footer_info .email_box{
  margin-bottom: 5px;
}
.connect_footer .footer_info .address{
  margin-bottom: 5px;
}
.connect_footer .footer_info .connect_methods{
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-bottom: 5px;
}
.connect_footer .code_box{
  width: 80%;
  margin-top: 10%;
  float: none;
  margin: 0 auto;

}
.code_box::after{
  content: "";
  display: block;
  clear: both;
}

.connect_footer .code_box .weixin{
  width: 80px;
  float: right;
}
.connect_footer .code_box .qq{
  float: left;
  width: 80px;
}
.connect_footer .code_box img{
  width: 80px;
  height: 80px;
}

.section{
  padding-top: 30px;
}
.head-logo{
  top: 10px;
  left: 10px;
  width: 100px;
  height: 47.43px;
}
